<section>
  <div class="p-4">
    <div
      class="grid grid-cols-1 gap-4 list-none lg:grid-cols-3 lg:grid-rows-3 xl:grid-cols-4 xl:grid-rows-4"
    >
      <div
        class="lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8"
      >
        <div class="relative flex items-center gap-x-4">
          <img
            src="/images/me3.jpeg"
            alt=""
            class="h-14 w-14 rounded-full ring-1 dark:ring-white/10 ring-primary/5"
          />
          <div class="text-sm leading-6">
            <p class="font-semibold text-primary dark:text-white">
              <a href="#">
                <span class="absolute inset-0"></span>
                 Will Gordon
              </a>
            </p>
            <p class="text-zinc-500 dark:text-zinc-400">
              INTERNET
            </p>
          </div>
        </div>
        <p
          class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white"
        >
          WG dot JE 
        </p>
        <p
          class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 font-light lg:text-xl"
        >
          I build apps, websites, and other things on the internet. I'm addicted to domain names.
          <br />
          <br />
           Every project is an experiment, a chance to learn something new. I love diving into code, solving problems, and bringing ideas to life. It's not just about the end result—it's about the process, the challenge, and the journey of figuring things out as I go. 
        </p>
      </div>
      <div
        class="ring-1 dark:ring-white/10 ring-primary/5 rounded-3xl justify-between shadow-xl dark:shadow-thick items-center flex flex-col p-8 h-full bg-white  dark:bg-secondary"
      >
        <div class="w-full">
          <p
            class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-8xl"
          >
            Find me on
          </p>
        </div>
        <div class="grid mt-4 grid-cols-4 md:grid-cols-8 lg:grid-cols-4 gap-y-4 gap-4 justify-center w-full">
          <a
            href="mailto:will@warmwebsites.com"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-mail h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50"
              viewBox="0 0 24 24"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
              ></path><path d="M3 7l9 6l9 -6"></path></svg
            >
          </a>
          <a
            href="https://github.com/wcgordon1" target="_blank"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-github h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50"
              viewBox="0 0 24 24"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
              ></path></svg
            >
          </a>
         
          <a
            href="https://x.com/helloIamWilly" target="_blank"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50 icon-tabler-brand-x"
              viewBox="0 0 24 24"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 4l11.733 16h4.267l-11.733 -16z"></path><path
                d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path></svg
            >
          </a>
          <a
            href="https://www.linkedin.com/in/will-gordon1/" target="_blank"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50 icon-tabler-brand-linkedin"
              viewBox="0 0 24 24"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
              ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"
              ></path><path d="M12 16l0 -5"></path><path
                d="M16 16v-3a2 2 0 0 0 -4 0"></path></svg
            >
          </a>
        </div>
      </div>
      <a
        href="https://warmwebsites.com/" target="_blank"
        class="ring-1 lg:row-span-2 flex flex-col justify-between group hover:ring-primary/10 dark:hover:ring-white/20 duration-300 h-full dark:ring-white/10 ring-primary/5 lg:row-start-2 md:grid-cols-2 md:grid lg:gap-0 md:items-center md:gap-12 lg:grid-cols-none lg:col-start-2 lg:col-span-2 rounded-3xl p-8 bg-white dark:bg-secondary shadow-xl dark:shadow-thick"
      >
        <div>
          <p
            class="ext-xl tracking-tight font-medium text-primary dark:text-white md:text-6xl"
          >
            Warm Websites
          </p>
          <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400">
            I strive to build truly amazing websites and applications that stand out.
<br /> <br /> <span style="text-decoration: underline;">Warm Websites</span> is my new design and low-code app agency, a fresh idea I'm passionate about. My vision is to grow this agency into a nationwide presence, establishing a strong foothold in every major city across the United States.
<br /> <br /> Click this card to explore what we’re working on and see how we can bring your ideas to life.
          </p>
        </div>
        <div class="mt-8">
          <img
            src="/images/sheesh.jpg"
            class="rounded-2xl group-hover:ring-white/20 duration-300 aspect-[2408/1482] bg-primary/5 dark:bg-primary ring-1 ring-white/10  object-cover"
            alt=""
          />
        </div>
      </a>
      <div
        class="ring-1 dark:ring-white/10  ring-primary/5 flex flex-col justify-between items-center rounded-3xl shadow-xl dark:shadow-thick p-8  bg-white dark:bg-secondary overflow-hidden text-center lg:text-left"
      >
        <div>
          <p
            class="text-xl text-primary dark:text-white lg:text-7xl tracking-tight"
          >
            Latest project
          </p>
          <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 md:max-w-xs lg:max-w-none">
            <span style="text-decoration: underline;">Tustin Recruiting</span>: A Job Board built with Bubble.io & OpenAI. Includes Business Software (ATS/CRM) and a Chrome Extension.
          </p>
        </div>
        <div class="w-full mt-8 md:max-w-xs lg:max-w-none">
          <button
            type="button"
            class="text-sm py-2 w-full px-4 h-12 font-semibold focus:ring-2 rounded-lg bg-primary dark:bg-white dark:text-primary dark:hover:text-white hover:text-primary dark:hover:bg-white/5 hover:bg-primary/10 text-white flex duration-200 focus:ring-offset-2 focus:ring-inline-flex items-center justify-between"
            onclick="window.open('https://tustinrecruiting.com/', '_blank')"
          >
            Visit Tustin Recruiting
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-external-link w-4 h-4"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M11 7h-4a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2v-4"></path>
              <path d="M10 14l10 -10"></path>
              <path d="M15 4l5 0l0 5"></path>
            </svg>
          </button>
        </div>
      </div>
      <a
        class="ring-1 lg:row-start-3 items-center h-full flex p-8 flex-col justify-center hover:ring-primary/5 dark:hover:ring-white/20 dark:ring-white/10 ring-primary/5 relative rounded-3xl overflow-hidden bg-white dark:bg-secondary shadow-xl dark:shadow-thick"
      >
      <div class="w-24 h-24 lg:w-48 xl:h-64 xl:w-64 lg:h-48">
        <img
          src="/images/logo7.png"
          alt="Description of the image"
          class="w-full h-full object-contain"
        />
      </div>
        <p
          class="text-xl  text-primary dark:text-white lg:text-2xl mt-6"
        >
          What's next?
        </p>
      </a>
      <a
      href="https://warmwebsites.com/" target="_blank"
        class="lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 hover:ring-primary/5 bg-white dark:bg-secondary  dark:hover:ring-white/20 overflow-hidden duration-300 shadow-xl dark:shadow-thick rounded-3xl p-8"
      >
        <div class="-mr-24">
          <img
            src="/images/nexte.png"
            class="rounded-2xl object-cover ring-1 h-64 w-full lg:h-auto dark:ring-white/10 ring-primary/5 bg-tertiary"
            alt=""
          />
        </div>
        <div class="mt-8">
          <div class="flex flex-wrap">
            <div
              class="flex items-center text-sm font-medium text-primary dark:text-white"
            >
              <svg
                class="flex-none w-4 h-4 stroke-current"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                viewBox="0 0 100 100"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M63.3694 5.33018C64.129 6.27325 64.5164 7.54562 65.291 10.0906L82.215 65.6862C75.8581 62.3873 69.0351 60.0773 61.9815 58.836L50.9623 21.5986C50.8744 21.3015 50.6928 21.0408 50.4445 20.8556C50.1962 20.6704 49.8945 20.5705 49.5848 20.571C49.275 20.5715 48.9737 20.6723 48.7259 20.8583C48.4782 21.0443 48.2974 21.3055 48.2105 21.6029L37.3247 58.8172C30.2392 60.0528 23.3848 62.3665 17 65.6778L34.0071 10.0776C34.7842 7.53708 35.1728 6.26679 35.9324 5.32559C36.603 4.49465 37.4753 3.84929 38.466 3.45101C39.5884 3 40.9167 3 43.5734 3H55.7208C58.381 3 59.7111 3 60.8344 3.45205C61.8261 3.85109 62.6988 4.49772 63.3694 5.33018Z"
                  fill="currentColor"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M65.3945 68.3321C62.6045 70.7178 57.0359 72.3448 50.6215 72.3448C42.7487 72.3448 36.15 69.8938 34.399 66.5975C33.773 68.4867 33.6327 70.6488 33.6327 72.03C33.6327 72.03 33.2203 78.812 37.9374 83.5291C37.9374 81.0797 39.9229 79.0942 42.3722 79.0942C46.5704 79.0942 46.5657 82.7568 46.5619 85.7284L46.5616 85.9936C46.5616 90.5039 49.3182 94.3703 53.2386 96C52.6531 94.7957 52.3246 93.4433 52.3246 92.0141C52.3246 87.7124 54.85 86.1107 57.7851 84.2492C60.1204 82.7681 62.7151 81.1226 64.5033 77.8215C65.4364 76.0991 65.9662 74.1264 65.9662 72.03C65.9662 70.7407 65.7658 69.4982 65.3945 68.3321V68.3321Z"
                  fill="#d94dd1"
                  stroke="#d94dd1"></path>
              </svg>
              <span class="ml-2.5"> Astro</span>
            </div>
            <div
              class="flex items-center ml-6 text-sm font-medium text-primary dark:text-white"
            >
              <svg
                viewBox="0 0 256 154"
                aria-label="Tailwind CSS"
                class="flex-none w-4 h-4 stroke-current"
                width="64"
                height="64"
                astro-icon="logos:tailwindcss-icon"
              >
                <path
                  fill="#38bdf9"
                  d="M128 0C93.867 0 72.533 17.067 64 51.2 76.8 34.133 91.733 27.733 108.8 32c9.737 2.434 16.697 9.499 24.401 17.318C145.751 62.057 160.275 76.8 192 76.8c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.499-24.401-17.318C174.249 14.743 159.725 0 128 0zM64 76.8C29.867 76.8 8.533 93.867 0 128c12.8-17.067 27.733-23.467 44.8-19.2 9.737 2.434 16.697 9.499 24.401 17.318C81.751 138.857 96.275 153.6 128 153.6c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.499-24.401-17.318C110.249 91.543 95.725 76.8 64 76.8z"
                ></path>
              </svg>
              <span class="ml-2.5"> Tailwind CSS</span>
            </div>
          </div>
          <p
            class="ext-xl tracking-tight font-medium text-primary dark:text-white md:text-6xl mt-6"
          >
            Builds
          </p>
          <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 font-light">
            I’m not tied to any single platform or framework. What matters to me is the end result. It has to work, and it has to look good. But more than that, it needs to feel right. It needs to be "snappy". 
            <br />
            <br />
            Responsive, smooth, seamless. Whether it’s a simple website or a complex app, if it meets those criteria, I’m satisfied. The tools are just the means to an end.
          </p>
        </div>
      </a>
      <div
        class="ring-1 dark:ring-white/10 ring-primary/5 flex flex-col p-8 h-full justify-center items-center rounded-3xl overflow-hidden relative lg:col-span-2 lg:row-start-4 bg-white dark:bg-secondary shadow-xl dark:shadow-thick"
      >


        <div class="relative p-8 text-center w-full">
          <p
            class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-6xl"
          >
            Subscribe <span class="lg:block">to my newsletter</span>
          </p>
          <form class="mt-6 sm:flex w-full lg:max-w-sm mx-auto">
            <label for="email-address" class="sr-only">Email address</label>
            <input
              type="email"
              name="email-address"
              id="email-address"
              autocomplete="email"
              required=""
              class="block w-full h-12 px-4 py-2 text-sm text-zinc-500 bg-zinc-100 dark:bg-tertiary ring-1 dark:ring-white/10 ring-primary/5 rounded-lg appearance-none focus:ring-white/20 placeholder-zinc-400 focus:border-zinc-300 focus:bg-primary focus:outline-none focus:ring-indigo-500 sm:text-sm"
              placeholder="Enter your email"
            />
            <div class="mt-4 sm:ml-2 sm:mt-0 sm:flex-shrink-0">
              <button
                type="submit"
                class="text-sm py-2 w-full px-4 h-12 font-semibold focus:ring-2 rounded-lg bg-primary dark:bg-white dark:text-primary dark:hover:text-white hover:text-primary dark:hover:bg-white/5 hover:bg-primary/10 text-white flex duration-200 focus:ring-offset-2 focus:ring-inline-flex items-center justify-between"
                >Subscribe</button
              >
            </div>
          </form>
        </div>
      </div>
      <div
        class="ring-1 dark:ring-white/10 ring-primary/5 shadow-xl dark:shadow-thick rounded-3xl p-8 lg:row-start-4 h-full flex flex-col justify-between bg-white dark:bg-secondary"
      >
        <p
          class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-5xl"
        >
          Testimonials
        </p>
        <div class="md:grid md:grid-cols-2 gap-6 lg:grid-cols-1">
          <div class="mt-4">
            <p class="text-sm text-pink-500 dark:text-pink-400">
              "Big fan of your themes. They're well-organized, look clean, and
              are fast."
            </p>
            <p class="text-xs mt-2 text-zinc-500">
              <span class="block text-xs">Kevin Focke</span>
              <span class="block text-xs"> Developer</span>
            </p>
          </div>
          <div class="mt-4">
            <p class="text-sm text-orange-500 dark:text-orange-300">
              "Amazing resource using @astrodotbuild and @tailwindcss! I got it
              a week ago and have found the contents really useful. 5/5
            </p>
            <p class="text-xs mt-2 text-zinc-500">
              <span class="block text-xs">Alonso</span>
              <span class="block text-xs"> Entrepreneur</span>
            </p>
          </div>
        </div>
      </div>
      <div
        class="lg:col-span-2 xl:col-span-1 h-full flex flex-col justify-between lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8"
      >
        <p
          class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-3xl"
        >
        I believe that impactful design is rooted in shared values, open communication, and a deep respect for the people it serves.
        <br />
        <br />
        At the core, I’m someone who’s constantly learning, adapting, and striving to create meaningful experiences with every project.
        </p>
        <p class="text-primary dark:text-white mt-4">Will Gordon</p>
      </div>
    </div>
  </div>
</section>
